@font-face {
    font-family: New York ;
    src: url(./assets/fonts/FontsFree-Net-NewYork.ttf);
}
@font-face {
    font-family: SF ;
    src: url(./assets/fonts/SFMonoRegular.otf);
}
.nav-item{
margin:0 20px;
padding: 20px 0;
}
.nav-link{
    font-family: New York Small;
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 170%;

/* identical to box height, or 34px */
text-align: center;
letter-spacing: 0.12em;
text-transform: uppercase;
}
.nav-item:hover{
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
}
.navbar-brand>img{
    margin: 0px 40px;
    width:20vw;
}
.navbar{
    background-color: none;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.11);

}.text1{
    font-family: New York Extra Large;
    font-style: normal;
    font-weight: bold;
    font-size: 54px;
    line-height: 100%;
    
    text-align: center;

}.text2{
    font-family: SF Mono;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 170%;

/* or 34px */
text-align: center;
}
.row-img{
    margin:0 10px;
}
.row-img>img{
    width:100vw;
}.name-text-1{
    font-family: SF Pro Text;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 19px;

/* identical to box height */
letter-spacing: 0.05em;
text-transform: uppercase;

color: #000000;
}.name-text-2{
    font-family: SF Pro Text;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 19px;

/* identical to box height */

color: #000000;


}.box2{
    border-top:2px solid black;
    padding:20px 0;
}.pic-and-text{
    display:flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}
.name-text{
    margin:2px 10px;
}
.fb-twitter{
    text-align:center;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}.fb,.twitter{
    padding:10px 25px;
    border: 0.1px solid rgba(0, 0, 0, 0.22);
    

}
.text3{
    padding:20px 0px;
    font-family: New York Medium;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 170%;

/* or 34px */

color: #000000;
}.text4{
    
font-family: SF Pro Display;
font-style: normal;
font-weight: bold;
font-size: 32px;
line-height: 160%;

/* or 51px */

color: #000000;
}.text5{
    font-family: New York Medium;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 170%;

/* or 34px */

color: #000000;
}.img3{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}.img3-caption{
    font-family: SF Pro Text;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 140%;

/* or 22px */
text-align: center;

color: #000000;


}.text6{
    font-family: New York Medium;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 170%;

/* or 34px */

color: #000000;


}.list{
    text-align:left;
    font-family: New York Medium;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 170%;

/* or 34px */

color: #000000;
}
.img3>img{
    width:70vw;
}.text7{
    font-family: New York Medium;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 170%;
    
    /* or 34px */
    
    color: #000000;
}.fb-twitter-2{
    padding: 10px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}.text8{
    font-family: SF Pro Text;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 160%;

/* identical to box height, or 26px */

color: #000000;


}.text-tags{
    font-family: SF Pro Text;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    
    /* identical to box height */
    letter-spacing: 0.03em;
    
    color: #0C0C0C;
    border-bottom: #000000 dotted 1px;
    padding-bottom: 20px;
    
}.text9{
    font-family: SF Pro Text;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 160%;

/* or 26px */
letter-spacing: 0.05em;
text-transform: uppercase;

color: #0C0C0C;


}.founder-info{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
}
.end-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: solid 2px black;
    
}.img-eye{
    margin-top: -30px;
}.text10{
    font-family: New York Extra Large;
font-style: normal;
font-weight: bold;
font-size: 44px;
line-height: 53px;

/* identical to box height */
text-align: center;

color: #000000;
}.stack-img-caption>a{
    font-family: SF Pro Display;
font-style: bold;
text-decoration: none;
font-weight: 500;
font-size: 20px;
line-height: 120%;

/* or 26px */
text-align: center;

color: #000000;
margin: 20px;
}.sign-up{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   

}.signup-box{
    border-top: #000000 solid 5px;
    border-bottom: #000000 solid 1px;
    border-left:  #000000 solid 1px;
    border-right:  #000000 solid 1px;
    border-radius: 3px;
}.text-signup-1{
    font-family: New York Extra Large;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 28px;

/* identical to box height, or 78% */
text-align: center;
}
.text-signup-2{
    font-family: SF Pro Text;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 28px;

/* or 140% */
text-align: center;

color: #090909;


}.btn-text{
    font-family: SF Pro Text;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 24px;

/* identical to box height */
text-align: center;
letter-spacing: 0.05em;
text-transform: uppercase;

color: #FFFFFF;


}

.text-signup-3{
    display: flex;
    flex: row;
    height: 30px;
    margin: 10px 0;
}.footer-text{
    font-family: New York Small;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    
    /* or 22px */
    text-align: center;
    
    color: #FFFFFF;
}.footer-tags>a{
    font-family: SF Pro Text;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 170%;
margin:10px;

/* or 27px */
text-decoration-line: underline;

color: #FFFFFF;
}.copyrights{
    font-family: SF Pro Text;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 140%;

/* or 17px */
text-align: center;

color: #FFFFFF;
}
@media only screen and (max-width: 980px) {
    .extra {
      display: none;
    }
    .navbar-brand>img{
        margin-left:20px;
        width:50vw;
    }.navbar-toggler:focus,
    .navbar-toggler:active,
    .navbar-toggler-icon:focus {
        outline: none;
        box-shadow: none;
    }.img3>img{
        width:100vw;
    }.fb,.twitter{
        margin-top: 5px;
        padding:10px 50px;
        height:50px;
        border: 0.1px solid rgba(0, 0, 0, 0.22);
    }

  }
    


